In [2]:
#importing all the packages

In [5]:
import numpy as np
from statsmodels.tsa.api import VAR
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
db = pd.read_csv('Datset/charts.csv')

In [6]:
db.shape

(26173514, 9)

In [7]:
db.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [9]:
#Data Analysis starts

In [8]:
db["artist"].value_counts()

Ed Sheeran                                                                 387917
Billie Eilish                                                              251825
Post Malone                                                                211272
Bad Bunny                                                                  203403
Ariana Grande                                                              189914
                                                                            ...
Ezhel, Patron, Anıl Piyancı, Sansar Salvo, Allame, Pit10, Beta, Kamufle         1
Lips, George Mason, Rose McIver, Kimbra                                         1
Joakim Kleven, KOH                                                              1
Lazyloxy, Maiyarap, OG-ANIC, UrboyTJ                                            1
Luna 99                                                                         1
Name: artist, Length: 96156, dtype: int64

In [9]:
db["region"].value_counts()

Argentina        455308
United States    455057
Austria          454593
Brazil           454439
Australia        453103
                  ...
Ukraine          127544
Russia           126837
Luxembourg        98053
Andorra           79592
South Korea       76276
Name: region, Length: 70, dtype: int64

In [19]:
db["title"].value_counts()["Chantaje (feat. Maluma)"]

10621

In [24]:
db["title"].value_counts()["Chantaje (feat. Maluma)"] & db["region"].value_counts()["Argentina"]

8204

In [7]:
db['region'].unique()

array(['Argentina', 'Australia', 'Brazil', 'Austria', 'Belgium',
       'Colombia', 'Bolivia', 'Denmark', 'Bulgaria', 'Canada', 'Chile',
       'Costa Rica', 'Czech Republic', 'Finland', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Estonia', 'France', 'Germany', 'Global',
       'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'Indonesia', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Lithuania', 'Malaysia', 'Luxembourg', 'Mexico', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Singapore', 'Spain',
       'Slovakia', 'Sweden', 'Taiwan', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'Uruguay', 'Thailand',
       'Andorra', 'Romania', 'Vietnam', 'Egypt', 'India', 'Israel',
       'Morocco', 'Saudi Arabia', 'South Africa', 'United Arab Emirates',
       'Russia', 'Ukraine', 'South Korea'], dtype=object)

In [10]:
db['date']=pd.to_datetime(db['date'])

In [11]:
db['year']=db['date'].dt.year

In [13]:
db['month']=db['date'].dt.month

In [15]:
db.head()

,title,rank,date,artist,url,region,chart,trend,streams,year,month
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0,2017,1
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0,2017,1
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0,2017,1
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0,2017,1
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0,2017,1

In [16]:
db.shape

(26173514, 11)

In [18]:
totalSum=db.groupby(['year','region'])['streams'].sum()
topArtist=db.groupby(['year','artist'])['streams'].sum()
topArtistPerYear=db.groupby(['year','region','artist'])['streams'].sum()

In [50]:
print(totalSum)

year  region
2017  Andorra                 0.000000e+00
      Argentina               2.687571e+09
      Australia               3.283499e+09
      Austria                 3.338926e+08
      Belgium                 5.441408e+08
                                  ...
2021  United Arab Emirates    1.636351e+08
      United Kingdom          6.563064e+09
      United States           2.709611e+10
      Uruguay                 3.314410e+08
      Vietnam                 6.143772e+08
Name: streams, Length: 330, dtype: float64

In [51]:
print(topArtist)

year  artist
2017  !!!                                                                                            0.0
      !!!, Lea Lea                                                                                   0.0
      #90s Update                                                                                    0.0
      #JPTH, Juha Pekka Tapani Heikkinen JA NIIN EDELLEEN, Väinö Wallenius, Jouni Raatikainen        0.0
      #Klasse, Kuselofte                                                                             0.0
                                                                                                  ...
2021  달콤한꿈                                                                                           0.0
      데이먼스 이어 Damons year                                                                            0.0
      도마 DOMA                                                                                        0.0
      레트로봇 RetroBot                                                                                  0.0
      이아람                                                                                        12951.0
Name: streams, Length: 137742, dtype: float64

In [30]:
print(topArtistPerYear)

year  region   artist
2017  Andorra  08001                                     0.0
               10,000 Maniacs                            0.0
               21 Savage, Offset, Metro Boomin, Quavo    0.0
               2Pac                                      0.0
               3 Doors Down                              0.0
                                                        ...
2021  Vietnam  程jiajia                                   0.0
               程响                                        0.0
               米卡                                        0.0
               米卡, 高卿尘, 吴宇恒, 薛八一, 张星特, 曾涵江, 鞠婧祎          0.0
               달콤한꿈                                      0.0
Name: streams, Length: 422923, dtype: float64

In [32]:
db.head()

,title,rank,date,artist,url,region,chart,trend,streams,year,month
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0,2017,1
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0,2017,1
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0,2017,1
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0,2017,1
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0,2017,1

In [52]:
topArtist.head()

year  artist
2017  !!!                                                                                        0.0
      !!!, Lea Lea                                                                               0.0
      #90s Update                                                                                0.0
      #JPTH, Juha Pekka Tapani Heikkinen JA NIIN EDELLEEN, Väinö Wallenius, Jouni Raatikainen    0.0
      #Klasse, Kuselofte                                                                         0.0
Name: streams, dtype: float64

In [55]:
dbtopartist = pd.DataFrame(topArtist)

                                                         streams
year artist
2017 !!!                                                     0.0
     !!!, Lea Lea                                            0.0
     #90s Update                                             0.0
     #JPTH, Juha Pekka Tapani Heikkinen JA NIIN EDEL...      0.0
     #Klasse, Kuselofte                                      0.0